h1 {
    text-align: center;  
font-size: 25px ;
color:rgb(255, 255, 255)0)  
}
body{
 background-image: url(as-pessoas-estao-vest.avif.jpg);
 background-size: cover;
}
h1{
    text-align: center;
    color: blueviolet 255, 0, 43;
    font-size: 70px;
}
p{
    text-align: center;
    font-size: 35px;
    color: rgb(234, 0, 255);
}
 .botao{
    background-color: chocolate;
    color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    padding: 30px 20px;
    display: inline-block;
    cursor: pointer;
 }
 .cabecalho{
    border-style: groove;
    border-color: blue;
 }


